.home,
.reverse-string,
.character-count {
  background:  rgb(159, 157, 190) ;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.1rem;

}


#result {
  background-color: #6d76f7;
  position: absolute;
  top: 250px;
  font-size: 2rem;  
}