.home,
.reverse-string,
.character-count {
  color: rgb(255, 255, 255);
  background:  rgb(118, 106, 226) ;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.3rem;

}

.reverse-button,
.count-button {
  background-color: #bec0c2;
  color: rgb(68, 68, 68);
}

#result {
  color: rgb(129, 0, 235);
  background-color: white;
  position: absolute;
  top: 250px;
  font-size: 2rem;  
  flex-grow: 2;
  width: 50%;
  height: 5em;
  padding: .5em;
  overflow: scroll;
}


.background-image {
  width: 100%;
  height: auto;
  position: static;
  top: 0;
  left: 0;
  background-position: bottom;
  }
